
    a:hover {
  color: green;
}


.header{
        display: flex;
       justify-content:center;
    }



.gg{
        fdisplay: flex;
       flex-direction: row-reverse; 
       justify-content: center;
       flex-shrink;
    }


